<div style="text-align: center">
  <h1>Edit Billing Information</h1>
</div>
<div style="float:left; margin-left: 100px">
<%= form_for @billing_info, :url => url_for(:controller => 'users', :action => 'update_billing') do |f| %>
    <%= render 'shared/errors' %>
    <div class="field">
      <%= f.label :cardtype, "Card Type"%><br/>
      <%= f.select :cardtype, [['Visa','Visa'],['American Express','American_Express'],['Discover','Discover'], ['Mastercard','Mastercard']] %>
    </div>
    <div class="field">
      <%= f.label :cardnumber, "Card Number"%><br/>
      <%= f.text_field :cardnumber %>
    </div>
    <div class="field">
      <%= f.label :cardname, "Name as appears on card" %><br/>
      <%= f.text_field :cardname %>
    </div>
    <div class="field">
      <%= f.label :expiration %><br/>
      <%= f.text_field :expiration %>
    </div>
    <div class="field">
      <%= f.label :securitycode, "Security Code" %><br/>
      <%= f.text_field :securitycode %>
    </div>
    <%= f.fields_for :address do |a| %>
        <div class="field">
          <%= a.label :streetaddress, "Street"%><br/>
          <%= a.text_field :streetaddress %>
        </div>
        <div class="field">
          <%= a.label :streetaddress2, "Street 2" %><br/>
          <%= a.text_field :streetaddress2 %>
        </div>
        <div class="field">
          <%= a.label :city %><br/>
          <%= a.text_field :city %>
        </div>
        <div class="field">
          <%= a.label :state %><br/>
          <%= a.text_field :state %>
        </div>
        <div class="field">
          <%= a.label :zip %><br/>
          <%= a.text_field :zip %>
        </div>
    <% end %>
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
<% end %>
</div>
<div style="float:right; margin-right:200px; margin-top: 50px">
  <%= gravatar_for @user, :size=>200 %>  <br/>
  <a href="http://gravatar.com/emails">Change Your Gravatar!</a>
  <br/><br/> <br/> <br/>
  <%= link_to ">> Edit profile and shipping", edit_profile_path(@user)%>
</div>
