<div style="text-align: center">
  <h1>Edit Profile and Shipping Information</h1>
</div>


<div style="float:left; margin-left:100px">
<%= form_for(@user) do |f| %>
    <%= render 'shared/errors' %>
    <div class="field">
      <%= f.label :firstname, "First Name"%><br/>
      <%= f.text_field :firstname %>
    </div>
    <div class="field">
      <%= f.label :lastname, "Last Name" %><br/>
      <%= f.text_field :lastname %>
    </div>
    <div class="field">
      <%= f.label :email %><br/>
      <%= f.text_field :email %>
    </div>
    <%= f.fields_for :address do |a| %>
        <div class="field">
          <%= a.label :streetaddress, "Street"%><br/>
          <%= a.text_field :streetaddress %>
        </div>
        <div class="field">
          <%= a.label :streetaddress2, "Street 2" %><br/>
          <%= a.text_field :streetaddress2 %>
        </div>
        <div class="field">
          <%= a.label :city %><br/>
          <%= a.text_field :city %>
        </div>
        <div class="field">
          <%= a.label :state %><br/>
          <%= a.text_field :state %>
        </div>
        <div class="field">
          <%= a.label :zip %><br/>
          <%= a.text_field :zip %>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :password %><br/>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, "Confirmation" %><br/>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
<% end %>
</div>
<div style="float:right; margin-right:200px; margin-top: 50px">
    <%= gravatar_for @user, :size=>200 %>  <br/>
    <a href="http://gravatar.com/emails">Change Your Gravatar!</a>
    <br/><br/> <br/> <br/>
    <%= link_to ">> Edit Billing", billing_path(@user)%>
</div>
