<table class="profile" summary="Profile Information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= "#{@user.firstname} #{@user.lastname}" %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong><%= " #{@user.firstname} #{@user.lastname}" %><br/>
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br/><br/><br/><br/><br/>
      <%= link_to "Edit Profile", edit_profile_path(@user) %>
    </td>
  </tr>
</table>
