<table class="profile" summary="Profile Information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user, :size=>150 %>
        <%= "#{@user.firstname} #{@user.lastname}" %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong><%= " #{@user.firstname} #{@user.lastname}" %><br/>
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br/><br/><br/><br/><br/>
      <% if current_user?(@user) || current_user.admin? %>
          <%= link_to "View Orders" , orders_path(@user) %>
          <br/>
          <%= link_to "Edit Profile", edit_profile_path(@user) %>
          <br/>
          <%= link_to "Edit Billing", billing_path(@user) %>
          <br/>
      <% end %>
      <% if current_user.admin? %>
        <%= link_to "Admin Options", "/admin" %>
      <% end %>
    </td>
  </tr>
</table>
