<% @items.each do |item| %>
    <div style="border-style: groove; border-width: 5px; text-align: center; width: 250px; margin-left:auto; margin-right:auto; float:left">
        <p><%= "Item Name: #{item.name}" %></p>
        <p><%= "Item Description: #{item.description}" %></p>
        <p><%= "Item Cost: #{item.cost}" %></p>
        <p><%= "Item Url: #{item.url}" %></p>
        <%= link_to "Edit", :controller => "items", :action => "edit", :id => item.id %>
    </div>
<% end %>
<div style="clear: both"></div>
