<div class="items">
  <% @items.each do |item| %>
      <div class="item-container">
        <div class="item">
          <%=link_to( image_tag( item.url ), "#") %>
          <p><%= item.name %></p>
          <p><span class="price"><%= "$#{item.cost}"%></span>
            <% if signed_in? %>
                <%= link_to "Add to Cart", :controller => "users", :action => "add_item", :id => item.id, :quantity => 1 %>
                <%= link_to "Edit", :controller => "items", :action => "edit", :id => item.id %>
            <% end %>
          </p>
        </div>
      </div>
  <% end %>
</div>

