<div xmlns="http://www.w3.org/1999/html">
  <p style="font-size:x-large">Total: <span style="color:red"><%= "$#{number_with_precision(current_user.cart.get_total, :precision => 2)}" %></span><br/></p>
</div>
<div class="items">
  <% @items.each do |item| %>
      <div class="item-container">
        <div class="item">
          <%=link_to( image_tag( item.url ), "#") %>
          <p><%= "#{item.name}" %></p>
          <% @quantity = @cart.get_quantity_by_item_id(item.id) %>
          <%= form_for @quantity, :url=>:update_quantity do |q| %>
            <%= q.hidden_field :id  %>
            <%= q.text_field :quantity, :style => "width:20px;"%>
            <%= q.submit "Update Quantity", :controller => "items", :action => "update_quantity" %>
          <% end %>
          <p><span class="price"><%= "$#{item.cost}"%></span>
            <% if signed_in? %>
                <%= link_to "Remove from Cart", :controller => "users", :action => "remove_item", :id => item.id %>
            <% end %>
          </p>
        </div>
      </div>
  <% end %>
</div>
 <div style="clear:both"></div>

<br/>
<h1>Promos</h1>
<% @promos.each do |promo| %>
    <div class="item-container">
      <div class="promo">
        <p><b><%= "#{promo.code}"  %></b></p>
        <% if promo.item == nil %>
            <p><%="Cart discount: #{promo.discount*100}%" %></p>
        <% else %>
            <p><%= promo.item.name %> - <%= "Discount: #{promo.discount*100}%" %></p>
        <% end %>
        <p><%= if promo.expiration.nil? then "Never expires" else "Expires on #{promo.expiration}" end %></p>
      </div>
    </div>
<% end %>
<div style="clear:both"></div>
<div>
    <%= form_for :promo, :url=>:add_promo do |p| %>
        <%= p.text_field :code %>
        <%= p.submit "Add Promo", :controller => "items", :action => "add_promo" %>
    <% end %>
</div>


