<header class="featured"><%= @item.name %></header>
<hr />
<div class="view-wrapper">
<div class="left">
    <div class="view">
      <%=link_to( image_tag( @item.url ), view_path(@item.name, @item.id)) %>
    </div>
</div>
<div class="right">
 <div class="item-sidebar round">
   <% if signed_in? then %>
   <%= form_tag(:action=>"add_item", :controller=>"users", :id => @item.id) do %>
           Quantity: <%= text_field_tag :quantity, params[:quantity], :class=>'field', :value => '1' %>
   <div class="add-to-cart round">
        <%= submit_tag "Add to Cart"%>
   </div>
     <% end %>
   <% end %>
   <br/><br/>
   <p>Please note that you must be signed in to order.</p>
   <br/>
 </div>
</div>
<div class="centered">
   Price: <span style="font-size: 150%; color: #ff0000"><%= "$#{@item.cost}" %></span><br/>
  <span class="in-stock"><%= "Stock: #{@item.stock}" %></span><br/>
  Ships from and sold by ShopOO.co.   <br/>
 Product Details<br/>
  Category: <%= @item.category %><br/>
  Description: <%= @item.description %>
  <hr/>
</div>
</div>