<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.7.1.min.js" %>
  <%= javascript_include_tag "bjqs-1.3.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= render 'layouts/header' %>
  <%= render 'layouts/navigation' %>
  <section class="round">
    <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %> </div>
    <% end %>
    <%= yield %>
  </section>
  <div style="clear:both"></div>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
